body {
  font-family: $font-Poppins-Regular;
  color: $color-dark-gray;
  line-height: 1.3;
}

img {
  display: block;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: $color-brand-primary;
  transition: .3s;

  &:hover {
    fill: $color-dark;
  }
}

.section {
  padding-block: 100px;
}

.container {
  max-width: 1202px;
  margin-inline: auto;
  padding-inline: 16px;
}