$font-Poppins-Regular: 'Poppins-Regular';
$font-Poppins-Medium: 'Poppins-Medium';
$font-Poppins-SemiBold: 'Poppins-SemiBold';
$font-Poppins-Bold: 'Poppins-Bold';

$color-dark-gray: #575757;
$color-light-gray: #828282;
$color-white: #fff;
$color-brand-primary: #FB9300;
$color-bg-light: #FFF0DC;