@import 'fonts';
@import 'variables';
@import 'reset';
@import 'base';

@import 'components';

@import 'header';
@import 'hero-section';

.advantagies {
  padding-block: 100px;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;
  }

  &__title {
    max-width: 586px;
  }

  &__desc {
    max-width: 450px;
    font-family: $font-Poppins-Medium;
    color: $color-light-gray;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: -0.4px;
    padding: 13px 0;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__card {
    width: calc(100% / 3);
    padding: 30px;
    border: 1px solid #FFF0DA;
    border-radius: 50px;
    transition: .5s;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 50px 80px -30px rgba(151, 109, 0, 0.20);

      & .advantagies__link {
        background-color: $color-brand-primary;
        color: $color-white;
        padding: 10px 24px;
        border-radius: 100px;
      }

      & .svg-icon {
        fill: $color-white;
      }
    }



    &-title {
      font-family: $font-Poppins-SemiBold;
      color: $color-dark;
      font-size: 24px;
      line-height: 1.8;
      letter-spacing: -0.48px;
      margin-bottom: 12px;
    }
  }

  &__text {
    color: $color-dark-gray;
    line-height: 1.8;
    letter-spacing: -0.32px;
    margin-bottom: 24px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: $color-dark-gray;
    font-size: 16px;
    padding: 10px;
    line-height: 1.8;
    letter-spacing: -0.32px;
    border-radius: 100px;
  }
}